legend{
  text-align:center;
  font-family: sans-serif;
  font:Arial;
  font-weight: bold;
  color:#ffbf00;
}

h1{
  align:center;
  font-family: sans-serif;
  font:Arial;
  color:#d82747;
}

body{
  background-color:	#545760;
  overflow-x: hidden;
  overflow-y: hidden;

}

.appTitle{
  background-color:#3e414b;
  padding-top:0px;
  margin-top:5px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.boardInfo{
  display:inline-block;
}

.cpuInfo{
  width:350px;
  display:inline-block;
}

.memInfo{
  width:350px;
  display:inline-block;
}

.infoLabel{
  font-family: sans-serif;
  font:Arial;
  font-weight: bold;
  color:#ffbf00;
}
